.api-container {
    padding: 1rem;
    p {
        font-size: 1rem;
        code {
            background: #d7e3ff40;
            padding: 4px 8px;
        }
    }
}
h2,h4,h3 {
    font-weight: 400;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-4 {
    margin-top: 4rem;
}
