<mat-toolbar>
    <span class="material-symbols-outlined logo-space"> view_carousel </span>
    <span>Ngx Custom Carousel Demo</span>
    <span class="example-spacer"></span>
    <button
        mat-icon-button
        class="example-icon"
        aria-label="icon-button with share icon"
        (click)="openGithub()"
        title="Visit Github">
        <span class="material-symbols-outlined"> deployed_code_update </span>
    </button>
</mat-toolbar>
<mat-tab-group>
    <mat-tab label="DEMO"> <app-demo></app-demo> </mat-tab>
    <mat-tab label="API"> <app-api-explore></app-api-explore> </mat-tab>
</mat-tab-group>
