<div class="container">
    <div class="hw-full">
        <h3>With Custom Template</h3>
        <ngx-custom-carousel
            [items]="itemsTemplate"
            [customItemTemplate]="userDetailsTemplate"
            [delay]="5000"
            [enableControls]="true"
        ></ngx-custom-carousel>
    </div>
</div>

<ng-template #userDetailsTemplate let-item let-index="index">
    <div class="card">
        <img [src]="item.image" [alt]="item.firstName" />
        <h1>{{ item.firstName + " " + item.lastName }}</h1>
        <p class="title">{{ item.company.title }}</p>
        <p>{{ item.company.department }}</p>
        <p><button>Contact</button></p>
    </div>
</ng-template>
