<mat-toolbar>
    <span>Ngx Custom Carousel Demo</span>
    <span class="example-spacer"></span>
    <button
        mat-icon-button
        class="star-icon"
        aria-label="icon-button with star icon">
        <mat-icon>star</mat-icon>
    </button>
    <button
        mat-icon-button
        class="example-icon"
        aria-label="icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<mat-tab-group>
    <mat-tab label="DEMO"> <app-demo></app-demo> </mat-tab>
    <mat-tab label="API"> <app-api-explore></app-api-explore> </mat-tab>
</mat-tab-group>
