/* You can add global styles to this file, and also import other style files */

app-root {
    height: 100%;
    width: 100%;
}

html, body { height: 100%; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-tab-body-wrapper {
    height: 90%;
}

